*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none
}

body {
    background-color: white;
}

.jumbotron {
    color: white;
    background-color:turquoise;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.hide {
    display: none;
}

.show {
    display: block;
}

