*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none
}

body {
    background-color: silver;
}

.jumbotron {
    color: slategrey;
    background-color:turquoise;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.hide {
    display: none;
}

.show {
    display: block;
}

button{
    background-color:white;
    color: black;
    height: 30px;
    width: 30px;
}

input{
    width: 100px;
    height: 25px;
    
}

h5{
    color: black;
    background-color: slategrey;
    font-size: 45px;
}

h6{
   background-color: slategrey;
   color: black;
   font-size: 40px;

}

